@import "tailwindcss";

:root {
    /* Cores de fundo e letra globais */
    --background: #171717;
    --foreground: white;
}

/*
    px: pixeis - absoluto
    em: relativo ao tamanho da fonte do elemento pai
    rem: relativo ao tamanho da fonte raiz (html)
*/

body {
    background: var(--background);
    color: var(--foreground);

    /* Esconder a scrollbar */
    &::-webkit-scrollbar {
        display: none;
    }
}

/* Estilo padrão dos parágrafos */
p {
    margin-top: 5px;
    margin-bottom: 5px;
}
